$breakpoint-tablet: 768px;
$breakpoint-desktop: 1024px;
$color-black: #000000;
$color-green: #00ffff;
$color-gray: #a9a9a9;
$color-white: #ffffff;
$color-dim-gray: #696969;
$color-lavender: #e6e6fa;
$color-silver: #c0c0c0;
$font-family: "Open Sans", sans-serif;
